client/src/main/java/organiser_web_service/OrganiserWebServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.polytech.fr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="OrganiserWebServiceImplService" targetNamespace="http://webservice.polytech.fr/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.polytech.fr/" elementFormDefault="unqualified" targetNamespace="http://webservice.polytech.fr/" version="1.0">

  <xs:element name="addDemand" type="tns:addDemand"/>

  <xs:element name="addDemandResponse" type="tns:addDemandResponse"/>

  <xs:complexType name="addDemand">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:demand"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="demand">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="numberOfPeople" type="xs:int"/>
      <xs:element name="numberOfRoom" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addDemandResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="addDemandResponse">
    <wsdl:part element="tns:addDemandResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDemand">
    <wsdl:part element="tns:addDemand" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrganiserWebService">
    <wsdl:operation name="addDemand">
      <wsdl:input message="tns:addDemand" name="addDemand">
    </wsdl:input>
      <wsdl:output message="tns:addDemandResponse" name="addDemandResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrganiserWebServiceImplServiceSoapBinding" type="tns:OrganiserWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addDemand">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addDemand">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addDemandResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrganiserWebServiceImplService">
    <wsdl:port binding="tns:OrganiserWebServiceImplServiceSoapBinding" name="OrganiserWebServiceImplPort">
      <soap:address location="http://localhost:8080/webservices/OrganiserWebServiceImpl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>